In [62]:
import pandas as pd
import numpy as np
import datetime
t = datetime.datetime.now()
import plotly.express as px
import plotly.graph_objects as go
pd.set_option('display.max_rows', None)
folder = r'C:\Users\Ensheng\Desktop\Coronavirus\COVID_MMR\data\\'
output_folder = folder + r'output\\'

In [23]:
# data: MMR at the county level
in_table = folder + r'US_MMR.xlsx'
mmr_df = pd.read_excel(in_table,sheet_name='county')
print(len(mmr_df))
mmr_df.head(3)

3102

   FIPS   County State      VR  County Population
0  1001  Autauga    AL  0.9536              55504
1  1003  Baldwin    AL  0.9700             212628
2  1005  Barbour    AL  0.9283              25270

In [59]:
# data: cases at the county level
in_table = r'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_US.csv'
cases_df = pd.read_csv(in_table)
col_date = '8/2/20'
cases_df = cases_df[['FIPS','Admin2','Province_State',col_date]]
cases_df = cases_df.rename(columns={col_date: "Cases"})
cases_df = cases_df[~cases_df['Province_State'].isin(['American Samoa','Guam','Northern Mariana Islands','Puerto Rico','Virgin Islands'])]
cases_df = cases_df[~cases_df['Admin2'].isin(['Unassigned'])]
cases_df = cases_df[cases_df['FIPS'].notnull()]
cases_df.loc[cases_df['FIPS'].notnull(), 'FIPS'] = cases_df[cases_df['FIPS'].notnull()]['FIPS'].astype(int) # FIPS code from float to int
print("Date: " + str(col_date) + ".\nNumber of counties with FIPS: " + str(len(cases_df)))
cases_df.head(3)

Date: 8/2/20.
Number of counties with FIPS: 3195

    FIPS   Admin2 Province_State  Cases
82  1001  Autauga        Alabama   1010
83  1003  Baldwin        Alabama   3175
84  1005  Barbour        Alabama    562

In [57]:
mmr_df[mmr_df['FIPS'].isin(set(mmr_df['FIPS']) - set(cases_df['FIPS']))]

        FIPS    County State    VR  County Population
1826  360610  New York    NY  0.99            1664727

In [63]:
# counties without MMR
cases_df[cases_df['FIPS'].isin(set(cases_df['FIPS']) - set(mmr_df['FIPS']))]

       FIPS                 Admin2        Province_State  Cases
149    2013         Aleutians East                Alaska      1
150    2016         Aleutians West                Alaska      5
151    2020              Anchorage                Alaska   1877
152    2050                 Bethel                Alaska     21
153    2060            Bristol Bay                Alaska      6
154    2068                 Denali                Alaska      1
155    2070             Dillingham                Alaska      1
156    2090   Fairbanks North Star                Alaska    406
157    2100                 Haines                Alaska      4
158    2105          Hoonah-Angoon                Alaska      0
159    2110                 Juneau                Alaska     88
160    2122        Kenai Peninsula                Alaska    304
161    2130      Ketchikan Gateway                Alaska     35
162    2150          Kodiak Island                Alaska      6
163    2158               Kusilvak                Alaska      4
164    2164     Lake and Peninsula                Alaska      0
165    2170      Matanuska-Susitna                Alaska    301
166    2180                   Nome                Alaska     17
167    2185            North Slope                Alaska     13
168    2188       Northwest Arctic                Alaska     31
169    2195             Petersburg                Alaska      6
170    2198  Prince of Wales-Hyder                Alaska      7
171    2220                  Sitka                Alaska     23
172    2230                Skagway                Alaska      0
173    2240    Southeast Fairbanks                Alaska     14
174    2261         Valdez-Cordova                Alaska     48
175    2275               Wrangell                Alaska      8
176    2282                Yakutat                Alaska      7
177    2290          Yukon-Koyukuk                Alaska     46
333    8014             Broomfield              Colorado    415
401   11001   District of Columbia  District of Columbia  12274
1354  26083               Keweenaw              Michigan      3
2627  48045                Briscoe                 Texas     11
2628  48047                 Brooks                 Texas     85
2648  48087          Collingsworth                 Texas      7
2689  48169                  Garza                 Texas     97
2736  48263                   Kent                 Texas      2
2755  48301                 Loving                 Texas      0
2795  48381                Randall                 Texas   1586
2797  48385                   Real                 Texas     76
2857  48505                 Zapata                 Texas    156
3224  80001              Out of AL               Alabama      0
3225  80002              Out of AK                Alaska      0
3226  80004              Out of AZ               Arizona      0
3227  80005              Out of AR              Arkansas      0
3228  80006              Out of CA            California      0
3229  80008              Out of CO              Colorado      0
3230  80009              Out of CT           Connecticut      0
3231  80010              Out of DE              Delaware      0
3232  80011              Out of DC  District of Columbia      0
3233  80012              Out of FL               Florida      0
3234  80013              Out of GA               Georgia  15621
3235  80015              Out of HI                Hawaii     23
3236  80016              Out of ID                 Idaho      0
3237  80017              Out of IL              Illinois      0
3238  80018              Out of IN               Indiana      0
3239  80019              Out of IA                  Iowa      0
3240  80020              Out of KS                Kansas      0
3241  80021              Out of KY              Kentucky      0
3242  80022              Out of LA             Louisiana      0
3243  80023              Out of ME                 Maine      0
3244  80024              Out of MD              Maryland      0
3245  80025              Out of MA         Massachusetts      0
3246  80026              Out of MI              Michigan     94
3247  80027              Out of MN             Minnesota      0
3248  80028              Out of MS           Mississippi      0
3249  80029              Out of MO              Missouri      0
3250  80030              Out of MT               Montana      0
3251  80031              Out of NE              Nebraska      0
3252  80032              Out of NV                Nevada      0
3253  80033              Out of NH         New Hampshire      0
3254  80034              Out of NJ            New Jersey      0
3255  80035              Out of NM            New Mexico      0
3256  80036              Out of NY              New York      0
3257  80037              Out of NC        North Carolina      0
3258  80038              Out of ND          North Dakota      0
3259  80039              Out of OH                  Ohio      0
3260  80040              Out of OK              Oklahoma      0
3261  80041              Out of OR                Oregon      0
3262  80042              Out of PA          Pennsylvania      0
3264  80044              Out of RI          Rhode Island      0
3265  80045              Out of SC        South Carolina      0
3266  80046              Out of SD          South Dakota      0
3267  80047              Out of TN             Tennessee   2823
3268  80048              Out of TX                 Texas      0
3269  80049              Out of UT                  Utah      0
3270  80050              Out of VT               Vermont      0
3271  80051              Out of VA              Virginia      0
3272  80053              Out of WA            Washington      0
3273  80054              Out of WV         West Virginia      0
3274  80055              Out of WI             Wisconsin      0
3275  80056              Out of WY               Wyoming      0
3276  88888                    NaN      Diamond Princess     49
3329  99999                    NaN        Grand Princess    103

In [173]:
# merge
df_merge = pd.merge(mmr_df, cases_df, how='left', on='FIPS')
print(len(df_merge))
print(len(df_merge.loc[df_merge['VR'].isnull()]))
df_merge.head(3)

3102
0

,FIPS,County,State,VR,County Population,Admin2,Province_State,Cases
0,1001,Autauga,AL,0.9536,55504,Autauga,Alabama,1010.0
1,1003,Baldwin,AL,0.9700,212628,Baldwin,Alabama,3175.0
2,1005,Barbour,AL,0.9283,25270,Barbour,Alabama,562.0

In [187]:
state_list = list(set(df_merge['Province_State']))[1:]
# detect states with the same MMR rate for all counties
one_vr_list = []
for state in state_list:
    if (len(set(df_merge[df_merge['Province_State']==state]['VR']))) == 1:
        print(state)
        one_vr_list.append(state)

Delaware
Mississippi
Arkansas
Ohio
Hawaii
Nevada
New Hampshire
Nebraska
West Virginia

In [188]:
state_list = list(set(df_merge['Province_State']))[1:] # remove nan
state_list = list(set(state_list)-set(one_vr_list))
state_list.sort(reverse=False)

In [189]:
# plot it

for state in state_list:
    print(state)
    
    df = df_merge[df_merge['Province_State']==state]

    fig1 = px.scatter(df, x="VR", y="Cases", text="County", trendline="ols")
    fig1.update_traces(textposition='top center')
    fig1.update_layout(
            title= 'Cases vs. MMR (' + state + ')',
            xaxis=dict(
                title='MMR',
                gridcolor='white',
                gridwidth=2,
            ),
            yaxis=dict(
                title="Cases",
                gridcolor='white',
                gridwidth=2,
            ),
            paper_bgcolor='rgb(243, 243, 243)',
            plot_bgcolor='rgb(243, 243, 243)',
        )
    #fig1.show()
    
    with open('covid_mmr_' + t.strftime('%m%d%y%H%M')+'.html', 'a') as f:
        f.write(fig1.to_html(full_html=False, include_plotlyjs='cdn'))

Alabama
Arizona
California
Colorado
Connecticut
Florida
Georgia
Idaho
Illinois
Indiana
Iowa
Kansas
Kentucky
Louisiana
Maine
Maryland
Massachusetts
Michigan
Minnesota
Missouri
Montana
New Jersey
New Mexico
New York
North Carolina
North Dakota
Oklahoma
Oregon
Pennsylvania
Rhode Island
South Carolina
South Dakota
Tennessee
Texas
Utah
Vermont
Virginia
Washington
Wisconsin
Wyoming

### Correlation Analysis

In [243]:
from numpy import cov
from scipy.stats import pearsonr

In [253]:
df_state = df_merge[(df_merge['Province_State']==state)]
df_state

,FIPS,County,State,VR,County Population,Admin2,Province_State,Cases
2279,44001,Bristol,RI,0.917485,48912,Bristol,Rhode Island,304.0
2280,44003,Kent,RI,0.974549,163760,Kent,Rhode Island,1421.0
2281,44005,Newport,RI,0.944107,83460,Newport,Rhode Island,380.0
2282,44007,Providence,RI,0.959601,637357,Providence,Rhode Island,14549.0
2283,44009,Washington,RI,0.947896,126150,Washington,Rhode Island,590.0

In [230]:
df_merge['County Population'].mean()

107242.51934235977

In [254]:
print('State,Covariance,Pearsons correlation,R-squared')

for state in state_list:
    
    df_state = df_merge[(df_merge['Province_State']==state)]
    
    if len(df_state) >= 6:
        pop_bar = df_state['County Population'].mean()
        df_state = df_state[df_state['County Population']>=pop_bar]
    
    # covariance
    data1 = df_state['VR']
    data2 = df_state['Cases']
    covariance = cov(data1, data2)
    
    # Pearsons correlation
    corr, _ = pearsonr(data1, data2)
    #print(state + ',\tCovariance: ' + str(covariance[0,1]) + ',\tPearsons correlation: %.3f' % corr)
    
    # R-squared
    correlation_matrix = np.corrcoef(data1, data2)
    correlation_xy = correlation_matrix[0,1]
    r_squared = correlation_xy**2
    
    print(state + ' (' + str(len(df_state))+ ')'+ ',\t%.3f' % covariance[0,1] + ',\t%.3f' % corr + ',\t%.6f' % r_squared)

State,Covariance,Pearsons correlation,R-squared
Alabama (19),	-42.375,	-0.495,	0.245139
Arizona (2),	-1657.984,	-1.000,	1.000000
California (15),	-166.412,	-0.202,	0.040809
Colorado (11),	12.063,	0.218,	0.047376
Connecticut (3),	-13.134,	-0.689,	0.474127
Florida (21),	-96.238,	-0.376,	0.141639
Georgia (36),	-12.294,	-0.093,	0.008741
Idaho (11),	19.300,	0.153,	0.023466
Illinois (16),	-8.726,	-0.096,	0.009201
Indiana (22),	-73.711,	-0.333,	0.111049
Iowa (22),	6.697,	0.175,	0.030586
Kansas (21),	-10.982,	-0.188,	0.035196
Kentucky (27),	-11.086,	-0.285,	0.081351
Louisiana (16),	-54.408,	-0.667,	0.445253
Maine (5),	-2.617,	-0.759,	0.576777
Maryland (6),	-27.022,	-0.424,	0.179892
Massachusetts (7),	-96.169,	-0.357,	0.127350
Michigan (17),	-26.272,	-0.187,	0.035139
Minnesota (15),	-31.158,	-0.398,	0.158539
Missouri (21),	-15.753,	-0.152,	0.023022
Montana (10),	4.082,	0.246,	0.060598
New Jersey (11),	-21.254,	-0.521,	0.271887
New Mexico (10),	8.103,	0.146,	0.021333
New York (11),	0.000,	nan,	0.000000
North Carolina (26),	-22.686,	-0.271,	0.073409
North Dakota (10),	0.565,	0.019,	0.000367
Oklahoma (14),	-12.660,	-0.110,	0.012093
Oregon (8),	7.660,	0.324,	0.104932
Pennsylvania (18),	-15.918,	-0.155,	0.023948
Rhode Island (5),	45.787,	0.349,	0.121514
South Carolina (14),	-9.519,	-0.409,	0.167433
South Dakota (15),	2.744,	0.071,	0.005046
Tennessee (18),	-26.824,	-0.411,	0.168625
Texas (38),	3.378,	0.017,	0.000293
Utah (6),	90.338,	0.469,	0.220257
Vermont (5),	0.215,	0.075,	0.005626
Virginia (30),	-29.835,	-0.347,	0.120520
Washington (10),	194.957,	0.690,	0.476327
Wisconsin (20),	-16.803,	-0.097,	0.009321
Wyoming (8),	-15.266,	-0.508,	0.258358