In [29]:
import pandas as pd
import datetime
t = datetime.datetime.now()
folder = r'C:\Users\Ensheng\Desktop\Coronavirus\Risk_Analysis\\'

In [47]:
in_table = folder + r'routesAverage_2.5.xlsx'
df = pd.read_excel(in_table)
print(len(df))
cut = 131 # 40 days: 27:83; 45d: 27:93; 50: 27:103
df = df.iloc[:,17:cut] 
# df.count(axis='columns')
df.head(3)

1975

,8: Infected,8: Routes,9: Infected,9: Routes,10: Infected,10: Routes,11: Infected,11: Routes,12: Infected,12: Routes,...,60: Infected,60: Routes,61: Infected,61: Routes,62: Infected,62: Routes,63: Infected,63: Routes,64: Infected,64: Routes
0,0.064,WUH->PEK,0.100,WUH->PEK,0.092,WUH->PEK,0.084,WUH->PEK,0.172,WUH->PEK,...,43.892,WUH->PEK,47.668,WUH->PEK,51.884,WUH->PEK,62.956,WUH->PEK,68.956,WUH->PEK
1,0.048,WUH->XMN,0.072,WUH->HAK,0.088,WUH->SHA,0.064,WUH->SHA,0.120,WUH->KMG,...,27.144,WUH->PVG,30.288,WUH->PVG,31.828,WUH->PVG,51.688,WUH->CAN,57.184,WUH->CAN
2,0.044,WUH->SHA,0.056,WUH->XMN,0.052,WUH->PVG,0.052,WUH->PVG,0.096,WUH->SYX,...,25.092,WUH->SHA,27.896,WUH->SHA,31.584,WUH->SHA,34.936,WUH->SZX,40.176,WUH->SZX

### route risk

In [266]:
# df_infected = df[colist_infected]
# df_dst = df[colist_dst]
# df_infected_one = pd.DataFrame({'infected':df_infected.values.ravel(order='F')})
# df_dst_one = pd.DataFrame({'dst':df_dst.values.ravel(order='F')})

# df_updated = pd.concat([df_infected_one, df_dst_one], axis=1, sort=False)

# df_rank = df_updated.groupby('dst').sum().reset_index()
# df_rank = df_rank.sort_values(by='infected',ascending = False).reset_index(drop=True)
# df_rank.head(5)

# result = df_rank
# output_csv = folder + 'output_route_' + str(cut) + '_' + t.strftime('%m%d%y%H%M') + '.csv'
# result.to_csv(output_csv, index=False, encoding='utf-8')

### city risk

In [48]:
# filter out the destination
cols = df.columns
for j in range(len(df.columns)):
    if j%2 == 1:
        col_name = cols[j]
        df[col_name] = df[col_name].str.slice(-3,) # export: stop=3; import: -3,
df.head(3)

,8: Infected,8: Routes,9: Infected,9: Routes,10: Infected,10: Routes,11: Infected,11: Routes,12: Infected,12: Routes,...,60: Infected,60: Routes,61: Infected,61: Routes,62: Infected,62: Routes,63: Infected,63: Routes,64: Infected,64: Routes
0,0.064,PEK,0.100,PEK,0.092,PEK,0.084,PEK,0.172,PEK,...,43.892,PEK,47.668,PEK,51.884,PEK,62.956,PEK,68.956,PEK
1,0.048,XMN,0.072,HAK,0.088,SHA,0.064,SHA,0.120,KMG,...,27.144,PVG,30.288,PVG,31.828,PVG,51.688,CAN,57.184,CAN
2,0.044,SHA,0.056,XMN,0.052,PVG,0.052,PVG,0.096,SYX,...,25.092,SHA,27.896,SHA,31.584,SHA,34.936,SZX,40.176,SZX

In [49]:
# find column names
colist_infected = []
colist_dst = []
for j in range(len(df.columns)):
    col_name = cols[j]
    if j%2 == 0:
        colist_infected.append(col_name)
    if j%2 == 1:        
        colist_dst.append(col_name)

In [50]:
# multiple cols to one cols
df_infected = df[colist_infected]
df_dst = df[colist_dst]
df_infected_one = pd.DataFrame({'infected':df_infected.values.ravel(order='F')})
df_dst_one = pd.DataFrame({'dst':df_dst.values.ravel(order='F')})

In [51]:
# merge two cols
df_updated = pd.concat([df_infected_one, df_dst_one], axis=1, sort=False)

In [35]:
## make sure the relationship remains
# result = df_updated
# output_csv = folder + 'output_TEST_' + str(cut) + '_'  + t.strftime('%m%d%y%H%M') + '.csv'
# result.to_csv(output_csv, index=False, encoding='utf-8')

In [52]:
# groupby and sort
df_rank = df_updated.groupby('dst').sum().reset_index()
df_rank = df_rank.sort_values(by='infected',ascending = False).reset_index(drop=True)
df_rank.head(5)

   dst  infected
0  PEK   773.196
1  PVG   439.156
2  SHA   420.116
3  CAN   405.608
4  KMG   370.712

In [53]:
# import airport info
in_table = r'C:\Users\Ensheng\Desktop\Coronavirus\IATA\IATA_airports.xlsx'
df_iata = pd.read_excel(in_table)
print(len(df_iata))
df_iata.head(3)

11846

,Code,Name,City,State,State Name,Latitude,Longitude,Country,Country Name,Global Region
0,AAA,Anaa,Anaa,,,-17.35,-145.50,PF,French Polynesia,Australasia
1,AAB,Arrabury,Arrabury,QL,Queensland,-26.70,141.04,AU,Australia,Australasia
2,AAC,El Arish International,El Arish,,,31.08,33.83,EG,Egypt,Africa

In [54]:
# make sure no one left behind
set(df_rank['dst']) - set(df_iata['Code'])

set()

In [55]:
# get airport info for the ranking list
result = pd.merge(df_rank, df_iata, how='left', left_on='dst',right_on='Code')
result

,dst,infected,Code,Name,City,State,State Name,Latitude,Longitude,Country,Country Name,Global Region
0,PEK,773.196,PEK,Capital International,Beijing,,,40.07,116.60,CN,China,Asia
1,PVG,439.156,PVG,Pudong International,Shanghai,,,31.14,121.79,CN,China,Asia
2,SHA,420.116,SHA,Hongqiao International,Shanghai-Metro,,,31.20,121.34,CN,China,Asia
3,CAN,405.608,CAN,Baiyun International,Guangzhou,,,23.12,113.23,CN,China,Asia
4,KMG,370.712,KMG,Changshui International,Kunming,,,25.10,102.94,CN,China,Asia
5,CTU,339.500,CTU,Shuangliu International,Chengdu,,,30.58,103.95,CN,China,Asia
6,SYX,323.492,SYX,Phoenix International,Sanya,,,18.30,109.41,CN,China,Asia
7,SZX,293.920,SZX,Bao'an International,Shenzhen,,,22.55,113.92,CN,China,Asia
8,HAK,282.512,HAK,Meilan International,Haikou,,,19.94,110.46,CN,China,Asia
9,XMN,270.460,XMN,Gaoqi International,Xiamen,,,24.47,118.12,CN,China,Asia
10,HGH,227.440,HGH,Xiaoshan International,Hangzhou,,,30.24,120.44,CN,China,Asia
11,CKG,218.924,CKG,Jiangbei International,Chongqing,,,29.50,106.36,CN,China,Asia
12,TSN,197.012,TSN,Binhai International,Tianjin,,,39.12,117.35,CN,China,Asia
13,NNG,196.444,NNG,Wuxu International,Nanning,,,22.61,108.17,CN,China,Asia
14,WNZ,195.168,WNZ,Yongqiang International,Wenzhou,,,27.95,120.63,CN,China,Asia
15,XIY,194.348,XIY,Xianyang International,Xi'an,,,34.37,108.70,CN,China,Asia
16,TAO,190.292,TAO,Liuting International,Qingdao,,,36.10,120.32,CN,China,Asia
17,KWE,176.712,KWE,Longdongbao International,Guiyang,,,26.54,106.80,CN,China,Asia
18,SHE,135.216,SHE,Taoxian International,Shenyang,,,41.80,123.45,CN,China,Asia
19,URC,117.372,URC,Diwopu International,Urumqi,,,43.91,87.47,CN,China,Asia
20,ENH,105.056,ENH,Xujiaping,Enshi,,,30.28,109.32,CN,China,Asia
21,FOC,102.036,FOC,Changle International,Fuzhou,,,26.10,119.28,CN,China,Asia
22,HRB,95.528,HRB,Taiping International,"Harbin, P. R. China",,,45.62,126.25,CN,China,Asia
23,DLC,91.796,DLC,Zhoushuizi International,Dalian,,,38.92,121.65,CN,China,Asia
24,NGB,84.184,NGB,Lishe International,Ningbo,,,29.83,121.53,CN,China,Asia
25,ZUH,73.308,ZUH,Sanzao International,Zhuhai,,,22.01,113.38,CN,China,Asia
26,CGQ,69.324,CGQ,Longjia International,Changchun,,,43.92,125.33,CN,China,Asia
27,HKG,69.216,HKG,Hong Kong Intl,Hong Kong,,,22.30,113.92,HK,Hong Kong,Asia
28,TYN,66.176,TYN,Wusu International,Taiyuan,,,37.83,112.56,CN,China,Asia
29,LHW,61.344,LHW,Zhongchuan,Lanzhou,,,36.02,103.75,CN,China,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...
636,TBS,0.004,TBS,Novo Alexeyevka International,Tbilisi,,,41.67,44.96,GE,Georgia,Asia
637,TBU,0.004,TBU,Fua'Amotu,"Tongatapu, Tonga Isl",,,-21.24,-175.14,TO,Tonga,Australasia
638,CME,0.004,CME,Ciudad del Carmen International,Ciudad del Carmen,,,18.65,-91.80,MX,Mexico,North America
639,TDX,0.004,TDX,Trat Airport,Trat,,,12.27,102.32,TH,Thailand,Asia
640,TGG,0.004,TGG,Sultan Mahmud,Kuala Terengganu,,,5.38,103.11,MY,Malaysia,Asia
641,THS,0.004,THS,Sukhothai Airport,Sukhothai,,,17.24,99.82,TH,Thailand,Asia
642,TLL,0.004,TLL,Lennart Meri,Tallinn,,,59.42,24.82,EE,Estonia,Europe
643,SIP,0.004,SIP,Simferopol International,Simferopol,,,45.02,34.00,UA,Ukraine,Europe
644,SDF,0.004,SDF,International-Standiford Field,Louisville,KY,Kentucky,38.18,-85.74,US,United States,North America
645,POZ,0.004,POZ,Lawica,Poznan,,,52.42,16.88,PL,Poland,Europe
646,ROC,0.004,ROC,Greater Rochester International,Rochester,NY,New York,43.12,-77.67,US,United States,North America
647,PPQ,0.004,PPQ,Paraparaumu,Paraparaumu,,,-40.90,174.98,NZ,New Zealand,Australasia
648,PPS,0.004,PPS,Puerto Princesa International,Puerto Princesa,,,9.74,118.75,PH,Philippines,Asia
649,PQQ,0.004,PQQ,Wauchope,Port Macquarie,NS,New South Wales,-31.43,152.87,AU,Australia,Australasia
650,PVD,0.004,PVD,T.F. Green State Apt,Providence,RI,Rhode Island,41.73,-71.43,US,United States,North America
651,QKL,0.004,QKL,Cologne-Main Rr,Cologne-Main Rr,,,50.90,7.18,DE,Germany,Europe
652,ENU,0.004,ENU,Akanu Ibiam International Airport,Enugu,,,6.48,7.57,NG,Nigeria,Africa
653,EBL,0.004,EBL,Erbil International Airport,Erbil,,,36.23,43.97,IQ,Iraq,Middle East
654,ROA,0.004,ROA,Regional (Woodrum Fld),Roanoke,VA,Virginia,37.32,-79.98,US,United States,North America
655,ROT,0.004,ROT,Rotorua International,Rotorua,,,-38.11,176.32,NZ,New Zealand,Australasia
656,SDD,0.004,SDD,Mukanka,Lubango,,,-14.92,13.58,AO,Angola,Africa
657,RST,0.004,RST,Rochester International,Rochester,MN,Minnesota,43.91,-92.50,US,United States,North America
658,RSU,0.004,RSU,Yeosu/Suncheon,Yeosu/Suncheon,,,34.84,127.62,KR,South Korea,Asia
659,RVN,0.004,RVN,Rovaniemi,Rovaniemi,,,66.56,25.83,FI,Finland,Europe
660,RZE,0.004,RZE,Jasionka,Rzeszow,,,50.12,22.02,PL,Poland,Europe
661,SAT,0.004,SAT,San Antonio Intl,San Antonio,TX,Texas,29.53,-98.47,US,United States,North America
662,SAW,0.004,SAW,Sabiha Gokcen,Sabiha Gokcen,,,40.90,29.31,TR,Turkey,Europe
663,SBW,0.004,SBW,Sibu,"Sibu, Sarawak",,,2.34,111.84,MY,Malaysia,Asia
664,SCE,0.004,SCE,State College,State College,PA,Pennsylvania,40.77,-77.88,US,United States,North America
665,AAE,0.004,AAE,Rabah Bitat,Annaba,,,36.82,7.81,DZ,Algeria,Africa

In [56]:
# output
output_csv = folder + 'output_airport_' + str(cut) + '_'  + t.strftime('%m%d%y%H%M') + '.csv'
result.to_csv(output_csv, index=False, encoding='utf-8')

In [275]:
# df_rank_city = result.groupby('City')['infected'].sum().reset_index()
# df_rank_city = df_rank_city.sort_values(by='infected',ascending = False).reset_index(drop=True)
# df_rank_city.head(10)

             City  infected
0         Beijing    46.016
1       Guangzhou    35.332
2        Shanghai    20.376
3  Shanghai-Metro    19.732
4        Shenzhen    19.704
5          Haikou    19.044
6           Sanya    17.772
7         Kunming    16.704
8         Chengdu    14.928
9          Xiamen    14.632

### country risk

In [57]:
df_rank_country = result.groupby('Country Name')['infected'].sum().reset_index()
df_rank_country = df_rank_country.sort_values(by='infected',ascending = False).reset_index(drop=True)
df_rank_country.head(10)

    Country Name  infected
0          China  6970.300
1       Thailand   116.612
2      Hong Kong    69.216
3         Taiwan    55.976
4    South Korea    44.232
5          Macau    25.436
6      Singapore    20.164
7          Japan    19.400
8  United States    14.292
9      Australia     9.084

In [58]:
result = df_rank_country
output_csv = folder + 'output_country_' + str(cut) + '_'  + t.strftime('%m%d%y%H%M') + '.csv'
result.to_csv(output_csv, index=False, encoding='utf-8')